.Spinner {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 10;
}

.noPhaseMsg {
    height: calc(100vh - 370px);
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: #00859c;
}

.Overlay,
.wrapper {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 10;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background-color: transparent !important;
    transform: translate(-60px, -30px);
}

.opposites {
    position: relative;
    width: 60px;
    height: 60px;
}

.opposites {
    animation: opposites 2.5s ease-out 0s infinite;
}

.tl,
.tr,
.br,
.bl {
    width: 30px;
    height: 30px;
    position: absolute;
}

.tl,
.tr {
    top: 0;
}

.tr,
.br {
    left: 30px;
}

.tl,
.br {
    animation: tlbr 2.5s ease-out 0s infinite;
}

.br,
.bl {
    top: 30px;
}

.tl,
.bl {
    left: 0;
}

.tr,
.bl {
    animation: trbl 2.5s ease-out 0s infinite;
}

.tl {
    background: #faa332;
    transform-origin: bottom right;
}

.tr {
    background: #038387;
    transform-origin: bottom left;
}

.br {
    background: #faa332;
    transform-origin: top left;
}

.bl {
    background: #038387;
    transform-origin: top right;
}