.CurrentCover {
    padding: 10px 10px 26px;
    width: 500px;
    min-height: 80px;
    color: #fff;
    background-color: #00859c;
}

.phaseCurrentCover {
    padding: 10px 10px 26px;
    width: 500px;
    min-height: 160px;
    color: #fff;
    background-color: #f99d26;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
        .step {
                font-size: 16px;
            }
}

.currentCompleteQuestionsHead {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 26px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .completedImg {
        width: 4rem;
        height: 4rem;
        margin-bottom: 1rem;
    }
}

.currentQuestionsHead {
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    border-bottom: 2px solid;
    padding-bottom: 5px;
    margin-bottom: 5px;
    .step {
        font-size: 16px;
    }
}

.TimeSection {
    display: flex;
    align-items: center;
}