.CurrentCover {
    // padding: "10px",
    //       width: "400px",
    //       minHeight: "80px",
    //       backgroundColor: "#00859c",
    //       color: "#fff",
    //       fontWeight: "600",
    //       fontSize: "16px",
    //       paddingBottom:26
    padding: 10px 10px 26px;
    width: 500px;
    min-height: 80px;
    color: #fff;
    background-color: #00859c;
}