.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.helpWrapper {
  padding: 20px 15px;
  .header {
    width: 100%;
    text-align: center;
    @extend .flex;
    h1 {
      color: #f99d26;
      font-weight: 700;
      font-size: 45px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: -20%;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 50px;
        background: linear-gradient(90deg, #f99d26 40%, #66afc9 50%);
      }
    }
  }
  .progress {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(233px);
    width: 1103px;
    height: 12px;
    background-color: #cdcdcd60;
    border-radius: 50px;
  }
  .pivotWrapper {
    margin: 30px 0;
    width: 100%;
    @extend .flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
  }
  // Pivot Container design
  .pivotContainer {
    width: 100%;
    margin-top: 15px;
    .tabInfoText {
      width: 100%;
      h1 {
        font-size: 24px;
        font-weight: 700;
        span {
          font-size: 12px;
          font-weight: 600;
          margin-left: 50px;
        }
      }
      p {
        @extend .flex;
        justify-content: flex-start;
        b {
          padding: 0 5px;
        }
        li {
          margin-top: 20px;
          font-size: 12px;
          font-weight: 600;
          margin-right: 20px;
          width: 560px;
        }
      }
    }
    // cards
    .cardsSection {
      @extend .flex;
      align-items: flex-start;
      margin: 80px 0;
      .card,
      .cardBlue,
      .cardBlueSm {
        width: 560px;
        margin-right: 20px;
        @extend .flex;
        align-items: flex-start;
        flex-direction: column;
        position: relative;
        background-color: #ffe9bf;
        // topcontent
        .topContentLg,
        .topContentSm {
          @extend .flex;
          align-items: center;
          flex-direction: column;
          justify-content: flex-start;
          position: relative;
          height: 260px;
          width: 100%;
          // bgimage
          .bgImg {
            position: absolute;
            top: 0;
            left: 0;
            -webkit-user-drag: none;
            user-select: none;
            width: 100%;
            height: 100%;
            img {
              filter: contrast(1.1);
            }
            &::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              background-color: rgba(137, 84, 16, 0.75);
              z-index: 2;
            }
          }
          .badge {
            position: absolute;
            top: -10%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 4;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #ffe9bf;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            @extend .flex;
            &::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              border-radius: 50%;
              border: 8px solid #f99d26;
              padding: 30px;
              z-index: 2;
            }
          }
          .heading {
            @extend .flex;
            align-items: center;
            flex-direction: column;
            z-index: 3;
            color: #fff;
            h2 {
              font-weight: bold;
              font-size: 30px;
              margin-top: 50px;
            }
            p {
              font-size: 13px;
              line-height: 18px;
              margin: 10px;
              margin-top: 24px;
              text-align: justify;
              padding: 0px 80px;
            }
          }
        }
        .topContentSm {
          height: 200px;
          display: flex;
          align-items: center !important;
          justify-content: center !important;
          text-align: center;
          .heading {
            h2 {
              margin-top: 0px !important;
            }
          }
        }
        .bottomContent,
        .tab4Cont,
        .tab3Cont {
          @extend .flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          padding: 20px 85px;
          min-height: 400px;
          .textContent {
            @extend .flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            margin: 10px 0;
            margin-top: 20px;
            min-height: 150px;
            max-height: 200px;
            p {
              font-weight: 700;
            }
            span {
              margin-top: -8px;
              font-size: 12px;
            }
            li {
              font-size: 13px;
              margin-bottom: 15px;
              span {
                display: block;
                margin-left: 40px;
                margin-top: 10px;
                position: relative;
                &::before {
                  content: "-";
                  position: absolute;
                  left: -5%;
                  top: 50%;
                  transform: translateY(-50%);
                  font-weight: bold;
                  color: #000;
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
      .tab4Cont {
        padding: 20px 40px !important;
        .textContent {
          li {
            font-size: 11px;
            span {
              font-size: 11px;
            }
          }
        }
      }
      .tab3Cont {
        li {
          list-style-type: decimal;
        }
      }
      .cardBlue,
      .cardBlueSm {
        background-color: #dae4e5;
        // topcontent
        .topContentLg,
        .topContentSm {
          .bgImg {
            &::before {
              background-color: rgba(0, 133, 156, 0.8);
            }
          }
          .topContentSm {
            height: 200px;
            text-align: center;
            display: flex;
            align-items: center !important;
            justify-content: center !important;
          }
          .badge {
            background-color: #dae4e5;
            top: -13% !important;
            &::before {
              border: 8px solid #00859c;
            }
          }
        }
      }
      .cardBlueSm {
        width: 360px;
        .tab4Cont {
          min-height: 400px;
        }
      }
    }
    //tab 5 mapping section styles
    .map {
      width: 1200px;
      @extend .flex;
      flex-direction: column;
      transform: translateX(-80px);
      // title
      .titles {
        @extend .flex;
        width: 100%;
        justify-content: flex-start;
        h2 {
          color: #f99d26;
          font-size: 28px;
        }
        .titleBlue {
          color: #00859c;
          margin-left: 30%;
        }
      }
      // left map section
      .mapsWrapper {
        transform: scale(.9);
        width: 100%;
        @extend .flex;
        justify-content: flex-start;
        .lMap {
          width: 40%;
          // background-color: #adadad50;
          .row1,
          .row2,
          .row3 {
            @extend .flex;
            height: 220px;
            transform: translateX(-100px);
            position: relative;
            overflow: visible;
            .roundCard {
              position: relative;
              @extend .flex;
              z-index: 99;
              .img {
                width: 53px;
                height: 53px;
                border-radius: 50%;
                background-color: #fff;
                @extend .flex;
                box-shadow: 0px 0px 4.15686px 2px rgba(255, 227, 193, 0.25);
                position: relative;
                img {
                  width: 25px;
                  height: 25px;
                  object-fit: contain;
                  z-index: 10;
                }
              }
              p {
                position: absolute;
                width: 150px;
                top: -90%;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                font-size: 13px;
                color: #f99d26;
                font-weight: 600;

              }
              &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 86px;
                height: 86px;
                border-radius: 50%;
                background-color: #fef0e0;
                z-index: -1;
              }
            }
          }
          .row1 {
            .lineY1,
            .lineY2 {
              position: absolute;
            }
            .lineY1 {
              width: 240px;
              height: auto;
              right: -11%;
              top: 50%;
              transform: translateY(-50%);
            }
            .lineY2 {
              height: 125px;
              width: auto;
              bottom: -28%;
              left: 50%;
              transform: translateX(-50%);
            }
          }
          .row2 {
            .lineY3,
            .lineY4,
            .lineY5 {
              position: absolute;
            }
            .lineY3 {
              height: 108px;
              width: auto;
              bottom: -15%;
              left: 20%;
            }
            .lineY4 {
              height: 108px;
              width: auto;
              bottom: -15%;
              right: 20%;
            }
            .lineY5 {
              top: -9%;
              right: -25%;
              width: 340px;
              height: auto;
            }
          }
          .row3 {
            justify-content: space-around;
            .roundCard {
              margin-top: -50px;
              p {
                top: 75px;
              }
            }
          }
        }
        .rMap {
          width: 60%;
          transform: translateY(-110px);
          // background-color: #adadad50;
          .row1,
          .row2,
          .row3 {
            @extend .flex;
            height: 220px;
            transform: translateX(-100px);
            position: relative;
            overflow: visible;
            .roundCard {
              position: relative;
              @extend .flex;
              z-index: 99;
              .img {
                width: 53px;
                height: 53px;
                border-radius: 50%;
                background-color: #fff;
                @extend .flex;
                box-shadow: 0px 0px 4.15686px 2px rgba(255, 227, 193, 0.25);
                img {
                  width: 25px;
                  height: 25px;
                  object-fit: contain;
                  z-index: 10;
                }
              }
              p {
                position: absolute;
                width: 150px;
                top: -90%;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                font-size: 13px;
                color: #0580a1;
                font-weight: 600;
              }
              &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 86px;
                height: 86px;
                border-radius: 50%;
                background-color: #e3f5fb;
                z-index: -1;
              }
            }
          }
          .row1 {
            justify-content: space-around;
            .lineB1,
            .lineB2,
            .lineB3,
            .lineB4 {
              position: absolute;
            }
            .lineB1 {
              width: 140px;
              height: auto;
              transform: translateX(120px);
            }
            .lineB2 {
              height: 40px;
              width: auto;
              transform: translateY(67px);
            }
            .lineB3 {
              width: 140px;
              height: auto;
              transform: translateX(120px);
            }
            .lineB4 {
              height: 120px;
              width: auto;
              transform: translateY(110px);
            }
          }
          .row2 {
            transform: translate(140px, 0);
            .roundCard {
              position: relative;
              @extend .flex;
              z-index: 99;
              width: 400px;
              .img {
                width: 53px;
                height: 53px;
                border-radius: 50%;
                background-color: #fff;
                @extend .flex;
                box-shadow: 0px 0px 4.15686px 2px rgba(255, 227, 193, 0.25);
                img {
                  width: 25px;
                  height: 25px;
                  object-fit: contain;
                  z-index: 10;
                }
              }
              p {
                position: absolute;
                width: 150px;
                top: -85%;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                font-size: 13px;
                color: #0580a1;
                font-weight: 600;
              }
              &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 86px;
                height: 86px;
                border-radius: 50%;
                background-color: #e3f5fb;
                z-index: -1;
              }
            }
            .lCont,
            .rCont {
              position: absolute;
              top: 11%;
              @extend .flex;
              flex-direction: column;
              .infoCard {
                width: 250px;
                background-color: #e3f5fb;
                @extend .flex;
                justify-content: flex-start;
                flex-direction: column;
                margin: 10px;
                padding: 0px 10px;
                border-radius: 30px;
                .infoTop {
                  width: 250px;
                  @extend .flex;
                  justify-content: flex-start;
                  padding: 5px 10px;
                  .img {
                    width: 30px;
                    height: 30px;
                    @extend .flex;
                    border-radius: 50%;
                    background-color: #0580a1;
                    box-shadow: 0px 0px 2.43137px 1.16981px #a0c2c8;
                    img {
                      width: 50%;
                      height: 50%;
                      object-fit: contain;
                      z-index: 10;
                    }
                  }
                }
                .infoBt {
                  width: 100%;
                  @extend .flex;
                  span {
                    font-size: 12px;
                    color: #0580a1;
                    padding: 0 10px 10px 10px;
                    text-align: center;
                  }
                }
                .closeMapPopup {
                  display: none;
                }
                p {
                  font-size: 13px;
                  color: #0580a1;
                  font-weight: 600;
                  margin: auto !important;
                }
              }
            }
            .lCont {
              left: -11%;
            }
            .rCont {
              right: -11%;
            }
            .lineTopL1 {
              position: absolute;
              width: 448px;
              height: auto;
              left: -17%;
              top: -9%;
            }
            .lineL1 {
              position: absolute;
              width: 140px;
              height: auto;
              left: 26%;
              top: 20%;
            }
            .lineL2 {
              position: absolute;
              width: 120px;
              height: auto;
              left: 27%;
              top: 40%;
            }
            .lineL3 {
              position: absolute;
              width: 140px;
              height: auto;
              left: 27%;
              top: 66%;
            }
            .lineL4 {
              position: absolute;
              width: 180px;
              height: auto;
              left: 26%;
              top: 72%;
            }
            .lineR1 {
              position: absolute;
              width: 140px;
              height: auto;
              right: 27%;
              top: 18%;
            }
            .lineR2 {
              position: absolute;
              width: 120px;
              height: auto;
              right: 27%;
              top: 40%;
            }
            .lineR3 {
              position: absolute;
              width: 140px;
              height: auto;
              right: 27%;
              top: 66%;
            }
            .lineR4 {
              position: absolute;
              width: 180px;
              height: auto;
              right: 26%;
              top: 72%;
            }
            .lineBt1 {
              position: absolute;
              width: auto;
              height: 130px;
              transform: translateY(130px);
            }
            .infoBtCard {
              width: 250px;
              position: absolute;
              bottom: 0;
              left: 48%;
              transform: translateX(-50%) translateY(150px);
              background: linear-gradient(90deg, #fef0e0 50%, #e3f5fb 50%);
              @extend .flex;
              justify-content: flex-start;
              margin: 10px;
              padding: 5px 10px;
              border-radius: 30px;
              .img {
                width: 30px;
                height: 30px;
                @extend .flex;
                border-radius: 50%;
                background: #fff;
                box-shadow: 0px 0px 2.43137px 1.16981px #ffe3c1;
                img {
                  width: 50%;
                  height: 50%;
                  object-fit: contain;
                }
              }
              p {
                font-size: 14px;
                color: #0580a1;
                font-weight: 600;
                margin: auto !important;
                transform: translateX(-10px);
              }
            }
          }
        }
      }
    }
  }
}

// tooltip
.MapPopup {
  position: absolute;
  min-width: 235px;
  min-height: 86px;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 7px rgba(114, 138, 142, 0.25);
  border-radius: 7px;
  padding: 10px 15px;
  text-align: center;
  @extend .flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 12px;
  z-index: 8;
}

.closeMapPopup {
  display: none;
}

// media queries for responsive
@media (min-width: 1920px) {
  .tabInfoText h1 span,
  .tabInfoText p,
  li {
    font-size: 14px !important;
  }
  .tab4Cont {
    min-height: 400px !important;
  }
  .heading p {
    font-size: 15px !important;
  }
  .textContent {
    margin-top: 10px !important;
  }
  .textContent p {
    font-size: 20px !important;
  }
  .textContent span {
    font-size: 14px !important;
  }
  .textContent li {
    font-size: 15px !important;
  }
  .textContent li span {
    font-size: 14px !important;
  }
}
