@import '~office-ui-fabric-react/dist/sass/References.scss';
.playbook {
    overflow: hidden;
    padding: 1em;
    color: "[theme:bodyText, default: #323130]";
    color: var(--bodyText);
    &.teams {
        font-family: $ms-font-family-fallbacks;
    }
}

.welcome {
    text-align: center;
}

.welcomeImage {
    width: 100%;
    max-width: 420px;
}

.links {
    a {
        text-decoration: none;
        color: "[theme:link, default:#03787c]";
        color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only
        &:hover {
            text-decoration: underline;
            color: "[theme:linkHovered, default: #014446]";
            color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
        }
    }
}

.noPhaseMsg {
    height: calc(100vh - 370px);
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: #00859c;
}

.splashContainer {
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}