.TimeLineCover {
    box-sizing: unset !important;
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    .TimeLineIconCover {
        padding: 10px;
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        box-sizing: unset !important;
    }
}