#workbenchPageContent {
    max-width: 100%;
}

.ms-Panel-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
    overflow-x: hidden;
}

.content_3f3fd3c2,
.CanvasZone {
    padding: 0 !important;
    max-width: 100% !important;
}

.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

* {
    box-sizing: unset !important;
}

.sideNavImg {
    object-fit: unset !important;
}

.accordion-button .plus {
    transform: rotate(48deg) translateX(-10px) !important;
    margin-top: 10px !important;
}

.accordion-button.collapsed .plus {
    transform: rotate(0deg) translateX(-10px) !important;
    margin-top: -5px !important;
}